main {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-column-gap: 24px;
  height: 100%;
}

main nav {
  padding: 24px 12px;
  background-color: hsl(340 100% 96%);
}

main nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

main nav ul li + li {
  margin-top: 8px;
}

main nav ul li.unread-articles {
  border-bottom: 4px solid hsl(0, 30%, 80%);
  padding-bottom: 8px;
}

main nav ul li button {
  cursor: pointer;
  width: 100%;
  background-color: hsl(50, 100%, 90%);
  font-size: 1.2rem;
}

main nav ul li button:focus-visible {
  outline: 2px solid hsl(50, 100%, 10%);
}

main nav ul li:not(.selected) button:hover {
  width: 100%;
  background-color: hsl(50, 100%, 80%);
}

main nav ul li.selected button {
  width: 100%;
  background-color: hsl(50, 100%, 70%);
}

.feed {
  padding: 24px 24px 24px 0;
}

.feed .empty {
  color: hsl(340, 20%, 60%);
  font-size: 1.2rem;
  text-align: center;
}

.feed .panel {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.feed .panel a {
  font-size: 1rem;
  text-decoration: none;
  color: #000;
}

.feed .panel button {
  margin-left: auto;
}

.feed ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.feed li + li {
  margin-top: 36px;
}

.feed .info {
  margin-top: 12px;
}

.feed button {
  cursor: pointer;
  background-color: hsl(35, 80%, 90%);
  font-size: 1rem;
}

.feed button:hover {
  background-color: hsl(35, 80%, 80%);
}

.feed .info .date {
  color: hsl(0, 0%, 40%);
  font-size: 1rem;
  margin-left: 12px;
}

.feed li a {
  color: hsl(340, 60%, 50%);
  font-weight: 600;
  font-size: 1.5rem;
  text-decoration: none;
}

.feed li.readed a {
  color: hsl(340, 20%, 60%);
  font-weight: 400;
}
