{
	"singleQuote": true,
	"jsxSingleQuote": false,
	"semi": true,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"trailingComma": "none",
	"printWidth": 80,
	"useTabs": false
}
